<div class="container design-page">
    <div class="info">
        <h1>Iris</h1>
        <p class="body-text">Iris is an education app currently in production. The main goal of Iris is to help children better understand math by providing them with visual and interactive modules that will help them visually understand what the problem is asking them and how they could solve it.</p>

        <p class="body-text">I created the logo as well as the app's name and I am also helping code out the app. The logo consists of an eye with a lightbulb constructing the pupil. The lightbulb flares also make up the iris. The lightbulb represents the educational aspect of the app while the eye represents the visual learning aspect. The name “Iris” is a direct reference to an eye as well since the app aims at making math visual for kids. 
        </p>
    </div>
    <div class="pictures">
        <img src="../../../assets/img/graphic-design/iris.png" alt="">
    </div>
</div>