.container{
    /* border: 1px dashed red; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "pic pic info"
}
.info{
    grid-area: info;
    /* border: 1px dashed yellow; */
}
.pictures{
    grid-area: pic;
    /* border: 1px dashed lightgreen; */
    padding: 10px;
}
.pictures img{
    max-width: 100%;

}