<div class="container design-page">
    <div class="info">
        <h1>Iris</h1>
        <p class="body-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, ratione totam. Aspernatur officia, delectus placeat minus nobis corrupti perspiciatis non harum commodi, perferendis fuga quibusdam fugiat quos obcaecati id, quis inventore! Eius est ab laudantium autem, incidunt repellat saepe voluptas qui molestiae! Nihil nesciunt reprehenderit obcaecati repudiandae doloremque eius atque!</p>
    </div>
    <div class="pictures">
        <img src="../../../assets/img/graphic-design/iris.png" alt="">
    </div>
</div>