<div class="container design-page">
    <div class="info">
        <h1>Rosales</h1>
        <p class="body-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam rem eligendi, praesentium laudantium laborum debitis est ad aspernatur adipisci nulla commodi vitae illo nihil neque inventore totam consequuntur dignissimos nisi cumque, illum deleniti iure voluptatibus? Unde neque labore voluptatum sint beatae atque blanditiis dolorem quasi, nemo voluptate ab. Voluptatum, nulla.</p>
    </div>
    <div class="pictures">
        <img src="../../../assets/img/graphic-design/rosales-1.jpg" alt="Rosales Wine Bottle">
        <img src="../../../assets/img/graphic-design/rosales-2.jpg" alt="Rosales Stamp">

    </div>
</div>