<div class="container design-page">
    <div class="info">
        <h1>Rosales</h1>
        <p class="body-text">Rosales is a California based family owned vineyard and winery. Their Pinot Noir red wine is one of their most popular products.</p> 

        <p class="body-text">My job was to create a circular, colorless logo which would be used for stamping. The logo consists of the company’s name and the year established. The icon in the center consists of a wine glass with a rose bud making up the bowl. A rose was chosen as a reference to the company name. The logo was later also used on wine bottles. 
        </p>
    </div>
    <div class="pictures">
        <img src="../../../assets/img/graphic-design/rosales-1.jpg" alt="Rosales Wine Bottle">
        <img src="../../../assets/img/graphic-design/rosales-2.jpg" alt="Rosales Stamp">

    </div>
</div>