.portrait{
    width: 400px;
    height: 400px;
    background-image: url(../../../../assets/img/portrait.png);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  @media only screen and (max-width: 550px){
    .portrait{
      height: 200px;
      width: 200px;
    }
  }