<div class="container">
    <h1 class="page-title">A Little About Me</h1>
    <div class="portrait"></div>
    <p class="body-text">
        Hi there, my name is David Ramirez and I am a web and graphic designer based in Fresno, California. For those of you that have never heard of Fresno, California (which is probably a lot of people), it’s one of the largest cities at the heart of the California central valley. Our claim to fame is the nice and warm triple digit temperatures that hit us every summer. But on the bright side the fruit here is fresh, extremely cheap, and easy to come by. But behind the scorching heat and fresh fruit is a city with hard working people that are often overlooked (thanks a lot San Francisco). There are many people like myself that were brought up to be responsible, have strong work ethic, and motivated to reach greatness.
    </p>
    <p class="body-text">
         I use Adobe Illustrator and Photoshop to create wire frames, mockups, and graphics that can be used for web. I also occasionally use Abode After Effects to create GIFS and mockup animations that I plan to implement in websites. I know a fair amount of HTML and CSS and I am currently learning JavaScript. I also try to make my websites as useable and accessible as possible to ensure users have a good experience. I use all these skills to create webpages that are functional, aesthetically pleasing, and easy for people to use.
    </p>
    <p class="body-text">
        On my free time, I love to play video games. My current console of choice is my Nintendo Switch (I’m a Nintendo fanboy). When I actually feel like going outside and getting some sun, I like to go hiking at nearby Yosemite National Park (another perk of living in Fresno). I also really enjoy giving back to my community by being a role model for kids at the elementary school that I work at.
    </p>
    
</div>