@-webkit-keyframes shake {
	/*0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }*/
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
}
/* .header{
  margin-top: 115px;
  margin-left: 100px;
  margin-right: 100px;
} */
.contact-grid{
    display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.contact-icon-wrap{
  width: 130px;
}
.contact-icon{
  height: 130px;
  width: 130px;
  background-color: #fff;
  border-radius: 50%;
}
.contact-fa{
  /*color: #0477BD;*/
  color: #3B3938;
  margin-top: 23px;
  transition: all 0.2s
}
.contact-form{
  margin-top: 75px;
  text-align: left;
}
.form-btn{
  width: 75px;
  background-color: #fff;
  /*color: #0477BD;*/
  color: #1E1E1E;
}
.contact-icon:hover{
  -webkit-animation-name: shake;
	-webkit-animation-duration: 0.3s;
}
.contact-icon:hover .contact-fa{
  color: #0477BD;
}