<div class="container">
    <h1 class="page-title">Let's Get in Touch</h1>
    <p class="body-text">If you want to get in touch with me click my contact information and let's make something happen. You can also check me out on Github and LinkedIn by clicking the links down below.</p>
    <div class="grid-container contact-grid">
            <div class="contact-icon-wrap">
              <a href="tel:5598926580">
              <div class="contact-icon"> 
                <i class="fa fa-phone fa-5x contact-fa" aria-hidden="true"></i>
              </div>
              </a>
              <p class="body-text"> Give me a call 559.892.6580</p>
            </div>
            <div class="contact-icon-wrap">
              <a href="mailto:dramirez2096@gmail.com">
                <div class="contact-icon">
                  <i class="fa fa-envelope fa-5x contact-fa"   aria-hidden="true"></i>
                </div>
              </a>
              <p class="body-text">Send me an email</p>
            </div>
            <div class="contact-icon-wrap">
              <a href="https://github.com/dramirez2096" target="blank">
                <div class="contact-icon">
                  <i class="fa fa-github-alt fa-5x contact-fa"     aria-hidden="true"></i>
                </div>
              </a>
              <p class="body-text">Check me out on Github</p>
            </div>
            <div class="contact-icon-wrap">
              <a href="https://www.linkedin.com/in/david-ramirez-39a377128/" target="blank">
                <div class="contact-icon">
                  <i class="fa fa-linkedin fa-5x contact-fa"   aria-hidden="true"></i>
                </div>
              </a>
              <p class="body-text">Check me out on LinkedIn</p>
            </div>
          </div><!--End of grid container-->

          <p class="body-text">
              Click on my resume down below to download it.
            </p>

          <div class="resume-container">
              <div class="resume">
                <i class="fa fa-download resume-fa fa-5x" aria-hidden="true"></i>
              </div>

          </div>
</div>