<div class="container design-page">
  <div class="info">
      <h1>Shift3 Technologies</h1>
      <p class="body-text">Shift3 Technologies is a software development company in Fresno, Ca. I work here as an in-house web designer/developer & graphic designer.</p>

      <p class="body-text">My work here mainly consists of creating marketing assets (white papers, case studies, etc.) as well as any other assets that are needed. I also maintain and update the company’s website. Logo and color schemes were not create by me. 
      </p>
  </div>
  <div class="pictures">
      <img src="assets/img/graphic-design/gd-4.jpg" alt="Shift3">
  </div>
</div>
