<div class="container design-page">
  <div class="info">
      <h1>Pulito</h1>
      <p class="body-text">Pulito is a mobile application that helps users locate and get more information about nearby recycling centers. The application also allows users to track how much they have recycled. This app was created for 59 Days of Code, a completion where teams had 59 days to create an app to pitch to a committee.</p>

      <p class="body-text">I was in charge of creating a brand for the project from scratch. The logo is mostly typographic and consists of a leaf in place of the empty space in the “p”. Color scheme was chosen to give the product an environmentally friendly feel. Mockups feature consistent coloring and branding set forth by the logo.  
      </p>
  </div>
  <div class="pictures">
      <img src="assets/img/graphic-design/gd-5.jpg" alt="Pulito">
  </div>
</div>
