<div class="container design-page">
  <div class="info">
      <h1>AR Enhanced Children's Book Concept</h1>
      <p class="body-text">This concept was created as a result of my curiosity about augmented reality (AR). Specifically, how AR can be used in the classroom to help children learn better. This concept would teach children about dinosaurs, but this idea can be used with many different subjects.
      </p>

      <p class="body-text">The idea is that the book will contain pages with information about a species of dinosaur, much like a traditional book. But it would also contain pages with AR codes which can be scanned to reveal 3-dimensional models of that dinosaur. Children would be able to interact with the 3-D model for a more engaging learning experience.  
      </p>

      <p class="body-text">TConcept built using Zappar and Zapworks Studio.   
      </p>

      <a class="concept-link" href="https://www.youtube.com/watch?v=-9L1MOhvrI0">View Concept Video</a>
  </div>
  <div class="pictures">
      <img src="assets/img/graphic-design/gd-6.jpg" alt="AR Children's Book Concept">
  </div>
</div>
