<!--The content below is only a placeholder and can be replaced.-->
<app-nav></app-nav>
<div class="grid-container">
    <div class="routed-item">
        <router-outlet></router-outlet>
        <!-- <ul class="bubbles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
              </ul> -->
    </div>
</div>

