.container{
    margin: 0;
    background-color: #1E1E1E;
    text-align: center;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "logo logo logo links links links links"
}

.logo-area{
    border: 1px dashed #fff;
    grid-area: logo;
}
.links-area{
    border: 1px dashed yellow;
    grid-area: links;
}