<button id ="menu-toggle" class="c-hamburger c-hamburger--htx" #hamburger (click)='menuToggle()'>
    <span></span>
</button>
<div class="grid-container" #container>
    <div class="logo-area" #logoArea>
        <a routerLink="/"><img (click)='linksToggle()' class="logo" src="../../assets/img/logo.svg" alt="Logo"></a>
        <h1 class="name">David<br>Ramirez</h1>
    </div>
    <div class="links-area" #linksArea>
        <ul class="links">
            <li (click)='linksToggle()'><a routerLink="/about">About</a></li>
            <li><a>Graphic Design</a></li>
            <li><a>Web Design</a></li>
            <li (click)='linksToggle()'><a routerLink="/contact">Contact</a></li>
        </ul>
    </div>
    <div class="social-area" #socialArea>
        <ul class="social-links">
            <li class="twitter"><a href="https://twitter.com/david_is_legal"><i class="fa fa-twitter" aria-hidden="true"></i>Twitter</a></li>
            <li class="facebook"><a href="https://www.facebook.com/david.ramirez.18659"><i class="fa fa-facebook-square" aria-hidden="true"></i>Facebook</a></li>
            <li class="instagram"><a href="https://www.instagram.com/david_is_legal/?hl=en"><i class="fa fa-instagram" aria-hidden="true"></i>Instagram</a></li>
        </ul>
    </div>
</div>
