.container{
    margin: 0;
    background-color: #1E1E1E;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "logo logo logo links links links links"
}

.logo-area{
    grid-area: logo;
    /* border: 1px dashed #fff; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.links-area{
    grid-area: links;
    /* border: 1px dashed yellow; */
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
.logo{
    width: 250px;
    height: 250px;
}
.name{
    font-size: 40pt;
    text-transform: uppercase;
    font-weight: 700;
}
.links{
    list-style: none;
    font-size: 35pt;
    font-weight: 100;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}