<div class="container design-page">
    <div class="info">
        <h1>Ramirez Daycare</h1>
        <p class="body-text">Ramirez Daycare is a local family owned and operated daycare. The daycare is owned by a close family member of mine.</p>

        <p class="body-text">My job was to create a complete brand identity for the company which included the logo, letterhead, business cards, envelopes, and a few other small pieces of office supplies such as pencils and erasers. The icon consists of a hand with a heart as the palm. The logo consists of only two colors as per the client’s request. 
        </p>
    </div>
    <div class="pictures">
        <img src="assets/img/graphic-design/daycare-1.png" alt="Ramirez Daycare Logo">
        <img src="assets/img/graphic-design/daycare-2.jpg" alt="Ramirez Daycare Brand Identity">
    </div>
</div>