<div class="container design-page">
    <div class="info">
        <h1>Ramirez Daycare</h1>
        <p class="body-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus ipsa iusto autem ea rem quisquam eveniet officia corporis. Natus illo quae itaque ea totam consequuntur dolores nisi eveniet ipsum quasi rerum perferendis ab, architecto mollitia excepturi facilis reprehenderit nostrum. Aliquam, quae quibusdam voluptatibus ratione ducimus voluptates ipsa ut omnis libero?</p>
    </div>
    <div class="pictures">
        <img src="../../../assets/img/graphic-design/daycare-1.png" alt="Ramirez Daycare Logo">
        <img src="../../../assets/img/graphic-design/daycare-2.jpg" alt="Ramirez Daycare Brand Identity">
    </div>
</div>