<div class="container">
    <h1 class="page-title">My Web Design Work</h1>
    <p class="body-text">Most of these sites are built using HTML and CSS. Some of my sites do have some JavaScript, however, I have not fully learned it but hope to soon. I am always learning more to further grow as a developer. Feel free to look at these websites so you can see what I can do.</p>
    <div class="work-grid">
        <div class="work-grid-item wd-1">
            <a href="https://dramirez2096.github.io/restaurante/" target="blank">
                <img src="../../../assets/img/web-design/wd-1.jpg" alt="Restaurant">
            </a>
            <h2 class="work-grid-item-caption">Restaurante</h2>
        </div>
        <div class="work-grid-item wd-2"></div>
        <div class="work-grid-item wd-3"></div>
    </div>
</div>