<div class="container">
    <h1 class="page-title">My Web Design Work</h1>
    <p class="body-text">As a web developer, I mainly like to work with front-end but I also occasionally work with back-end. I aim to make websites that look nice and are easy for users to navigate, which is something that I feel is often not taken into account during the development process. I mainly work with HTML, CSS, and JavaScript for development. I have also recently been working on mastering Angular. This website was actually built using Angular. I am also currently learning how to use MongoDB, Node, and Express. Click my projects below to check them out. </p>
    <div class="work-grid">

        <div class="work-grid-item wd-1"> 
            <a href="https://dramirez2096.github.io/restaurante/" target="blank">
                <img src="assets/img/web-design/wd-1.jpg" alt="Restaurant">
            </a>
            <h2 class="work-grid-item-caption">Restaurante</h2>
        </div>

        <div class="work-grid-item wd-2">
            <a href="https://dramirez2096.github.io/weather-app/" target="blank">
                <img src="assets/img/web-design/wd-2.jpg" alt="Weather App"> 
            </a>
            <h2 class="work-grid-item-caption">Weather App</h2>
        </div>

        <div class="work-grid-item wd-3">
            <a href="http://generate.design/david/GD150/ecommerce/" target="blank">
                <img src="assets/img/web-design/wd-3.jpg" alt="E-Commerce Site">
            </a>
            <h2 class="work-grid-item-caption">E-Commerce Site</h2>
        </div>
    </div>
</div>