/* You can add global styles to this file, and also import other style files */
body{
    font-family: 'Brandon Grotesque';
    background-color: #0477BD;
    color: #fff;
    margin: 0px;
}
.container{
    /* border: 1px dashed red; */
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 163px;
}
.page-title{
    font-size: 63px;
    display: inline;
    font-weight: 700;
    text-shadow: 5px 5px 1px #045D89;
}
h1{
  margin-top: 0px;
  -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.body-text{
    font-size: 21px;
    font-family: brandon-grotesque, sans-serif;
    font-style: normal;
    font-weight: 100;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.bubbles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    transform: translateZ(0);
  }
  
  .bubbles li{
    position: absolute;
    list-style: none;
    display: block;
    background-color: #000;
    opacity: 0.05;
    bottom: -100px;
    animation: square 30s infinite;
    transition-timing-function:        linear;  
  }
  
  .bubbles li:nth-child(1){
    width: 40px;
    height: 40px;
    left: 20%;
  }
  .bubbles li:nth-child(2){
    width: 60px;
    height: 60px;
    left: 40%;
    animation-delay: 2s;
    animation-duration: 17s;
  }
  .bubbles li:nth-child(3){
    width: 10px;
    height: 10px;
    left: 60%;
    animation-delay: 4s;
    animation-duration: 13s;
  }
  .bubbles li:nth-child(4){
    width: 80px;
    height: 80px;
    left: 80%;
    animation-delay: 1s;
    animation-duration: 22s;
  }
  .bubbles li:nth-child(5){
    width: 50px;
    height: 50px;
    left: 50%;
    animation-delay: 7s;
    animation-duration: 12s;
  }
  .bubbles li:nth-child(6){
    width: 10px;
    height: 10px;
    left: 5%;
    animation-delay: 1s;
    animation-duration: 18s;
  }
  @keyframes square{
    0%{
      transform: translateY(0);
    }
    100%{
      transform: translateY(-150vh) rotate(630deg);
    }
  }

  .design-page{
    /* border: 1px dashed red; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "pic pic info"
}
.info{
    grid-area: info;
    /* border: 1px dashed yellow; */
}
.pictures{
    grid-area: pic;
    /* border: 1px dashed lightgreen; */
    padding: 10px;
}
.pictures img{
    max-width: 100%;

}
