/* You can add global styles to this file, and also import other style files */
body{
    font-family: 'Brandon Grotesque';
    background-color: #0477BD;
    color: #fff;
    margin: 0px;
}
.page-title{
    font-size: 63px;
    display: inline;
    font-weight: 700;
    text-shadow: 5px 5px 1px #045D89;
}
h1{
  margin-top: 0px;
}