<div class="container">
    <h1 class="page-title">My Graphic Design Work</h1>
    <p class="body-text">My specialty is logo design and brand identity. I also do wireframing and mockups for websites and applications. I am highly proficient in many Adobe programs. My design program of choice is Adobe Illustrator. But I can use a wide variety of Adobe programs such as Photoshop, InDesign, and After Effects depending on the project. I have also recently started using Adobe XD for designing, wireframing, and mocking up websites before beginning development. Click on my projects below to find out more. </p>

    <div class="work-grid">
        <div class="work-grid-item">
            <a routerLink="/shift3">
                <img src="assets/img/graphic-design/gd-4.jpg" alt="Rosales Vineyard & Winery">
            </a>
            <h2 class="work-grid-item-caption">Shift3 Technologies</h2>
        </div>

        <div class="work-grid-item">
            <a routerLink="/pulito">
                <img src="assets/img/graphic-design/gd-5.jpg" alt="Rosales Vineyard & Winery">
            </a>
            <h2 class="work-grid-item-caption">Pulito</h2>
        </div>

        <div class="work-grid-item">
            <a routerLink="/ar">
                <img src="assets/img/graphic-design/gd-6.jpg" alt="Rosales Vineyard & Winery">
            </a>
            <h2 class="work-grid-item-caption">AR Children's Book Concept</h2>
        </div>

        <div class="work-grid-item">
            <a routerLink="/rosales-winery">
                <img src="assets/img/graphic-design/gd-3.png" alt="Rosales Vineyard & Winery">
            </a>
            <h2 class="work-grid-item-caption">Rosales Vineyard & Winery</h2>
        </div>

        <div class="work-grid-item">
            <a routerLink="/iris">
                <img src="assets/img/graphic-design/gd-1.jpg" alt="Iris">
            </a>
            <h2 class="work-grid-item-caption">Iris</h2>
        </div>

        <div class="work-grid-item">
            <a routerLink="/ramirez-daycare">
                <img src="assets/img/graphic-design/gd-2.png" alt="Ramirez Daycare">
            </a>
            <h2 class="work-grid-item-caption">Ramirez Daycare</h2>
        </div>

    </div>

</div>