<div class="container">
    <h1 class="page-title">My Graphic Design Work</h1>
    <p class="body-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum cum accusamus quaerat asperiores voluptatibus eos? Cumque velit voluptate enim eligendi! Explicabo sint harum pariatur earum dolores beatae quis voluptates delectus quod quae nisi suscipit natus, possimus minus consectetur nostrum maiores.</p>

    <div class="work-grid">
        <div class="work-grid-item">
            <a routerLink="/iris">
                <img src="../../../assets/img/graphic-design/gd-1.jpg" alt="Iris">
            </a>
            <h2 class="work-grid-item-caption">Iris</h2>
        </div>

        <div class="work-grid-item">
            <a routerLink="/ramirez-daycare">
                <img src="../../../assets/img/graphic-design/gd-2.png" alt="Ramirez Daycare">
            </a>
            <h2 class="work-grid-item-caption">Ramirez Daycare</h2>
        </div>

    </div>

</div>